<!doctype html>

<html lang="en-GB">

<head>
    <meta charset="utf-8">

    <title>OMEGA-TEAM BLOG</title>
    <meta name="description" content="OMEGA-TEAM BLOG">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
    <div>
        <h1><a href="/">OMEGA-TEAM BLOG</a></h1>
    </div>

    {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
    <script src="js/scripts.js"></script>
</body>

</html